.search-info{
    margin-bottom: 30px;
}
.grid{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto;
}

.el {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
@media (max-width: 1200px){
    .grid{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: auto auto auto;
    }

    .el {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}



@media (max-width: 760px){
    .grid{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: auto auto;
    }

    .el {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 480px){
    .grid{
        display: grid;
        column-gap: 0px;
        row-gap: 30px;
        grid-template-columns: auto;
    }

    .el {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}